@model Miembro
@{
    ViewBag.Title = "New";
}

<h2>New</h2>

@using (Html.BeginForm("Create", "Miembros", FormMethod.Post,new { @class = "form-horizontal", role = "form" }))
{
    @Html.HiddenFor(m => m.MiembroId)
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Nombres, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Apellidos, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sexo, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <select name="Gender" class="form-control">
                <option @(Enums.Sexo.Femenino == Model.Sexo ? "selected" : "") value="@Enums.Sexo.Femenino">Femenino</option>
                <option @(Enums.Sexo.Masculino == Model.Sexo ? "selected" : "") value="@Enums.Sexo.Masculino">Masculino</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.FechaNacimiento, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input class="form-control" type="text" name="Birthday" value="@(Model.FechaNacimiento == DateTime.MinValue ? "" : Model.FechaNacimiento.ToShortDateString())" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Estado, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <select name="Gender" class="form-control">
                <option @(Enums.Estado.Activo == Model.Estado ? "selected" : "") value="@Enums.Estado.Activo">Activo</option>
                <option @(Enums.Estado.Inactivo == Model.Estado ? "selected" : "") value="@Enums.Estado.Inactivo">Inactivo</option>
                <option @(Enums.Estado.Inubicable == Model.Estado ? "selected" : "") value="@Enums.Estado.Inubicable">Inubicable</option>
            </select>
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-default" type="submit">
                Guardar <i class="fa fa-save"></i>
            </button>
        </div>
    </div>



    <button class="btn btn-success" type="submit">Save</button>
}